.carousel {
    width: 300%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.margin-left0 {
    margin-left: 0;
    transition: margin-left 0.5s;
}

.margin-left-less50 {
    margin-left: -100%;
    transition: margin-left 0.5s;
}

.margin-left-less100 {
    margin-left: -200%;
    transition: margin-left 0.5s;
}

/* .margin-left-less150 {
    margin-left: -150%;
    transition: margin-left 0.5s;
}

.margin-left-less200 {
    margin-left: -200%;
    transition: margin-left 0.5s;
} */

.carousel-wrapper {
    width: 150%;
    position: relative;
    border: 1px solid red;
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    height: 500px;

}

.button-style {
  border: none;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.disabled-left {
    background-color: lightgrey;
    border: lightgrey;
    cursor: not-allowed;
}

.disabled-right {
    background-color: lightgrey;
    border: lightgrey;
    cursor: not-allowed;
}
