.carousel-t-wrapper {
    display: flex;
    flex-direction: row;
    width: 150%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 400px;
}

.carousel-t-container {
    width: 90%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
}

.card-t-wrapper {
    background-color: green;
    color: white;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible */
    }